@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --font-sans: "Poppins", sans-serif;
}

@theme static {
    /*Colors*/
    --color-green-500: #00be9c;
    --color-yellow-500: #ffa94d;
    --color-white-500: #fafafa;
    --color-blue-500: #ffa94d;
    --color-dark-500: #424b59;
    --color-text-500: #5e697a;
    --color-second-text-500: #718096;
}

/*@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}*/
