@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --font-sans: "Poppins", sans-serif;
}

@theme static {
  --color-dark: #424b59;
  --color-primary: #c70000;
  --color-secondary: #f8f7fc;
  --color-white: #fffefe;
  /* --color-warning: #f3db30; */
  --color-danger: #ff0000;
}
